:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #1b7708;
    --gris: #757575;
    --grisclaro: #dfe9f3;
}

/* Globales */
html{
    font-size: 62.5% ;
    box-sizing: border-box; /* Parte de la solucion modelo caja*/
}

/*---- Solucion modelo caja-----*/
*, *:before, *:after {
    box-sizing: inherit;
  }
/*----------en teoria elmina la suma de los margin automaticos que descalibraban las medidas que 
colocabas--------------------------------*/

body{
    font-size: 16px; /* 1 rem = 10px*/
    font-family: 'Krub', sans-serif;

    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100% );
}

.sombra{
    -webkit-box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.54);
    box-shadow: 0px 5px 15px -4px rgba(0,0,0,0.54);

    background-color: var(--blanco);
    padding: 2rem;
    border-radius: .5rem;
}


.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}


.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none ;
    text-transform: uppercase; /*transforma a mayuscula*/
    font-weight: bold; /*texto a negrita*/
    border-radius: .5rem ; /*ezquinas curveadas*/
    width: 90%; /* toma casi todo el ancho de la pagina... y para pantallas grandes los solucionas con Media queries*/
    text-align: center;
    border: none;
}

.boton input{
    width:auto;
}
@media (min-width: 480px) {
   .boton{
       width:auto;
   }
}

.boton:hover{    /*Aqui se esta aplicando manito para el segundo boton*/
    cursor: pointer;
}
/* Tipografía*/
h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

/* esti fue remplazado por la técnica de arriba
.titulo{
    text-align: center;
    font-size: 3.8rem;
    
}*/

/* Títulos */
.titulo span{
    font-size: 2rem;
    
}

/** Utilidades**/

.w-sm-100{
    width: 100%;
}
@media( min-width: 768px){
   .w-sm-100 {
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}


/*navegacion principal*/
.nav-bg{
    background-color: #2da215;
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}


.navegacion-principal a{
    color: var(--blanco);
    text-decoration:none ;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}


.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

/*Los media queries son como una condicional 
para que se adapte segun el tipo de pantalla que 
usen para ver la pagina web*/

/*  ESTE EJEMPLO QUERIES ESTA SIN AUTOMATIZAR ------------
@media(min-width: 480px){
    body{
        background-color: #0097a4;
    }
}

@media(min-width: 768px){
    body{
        background-color: #e91212;
    }
} 
---------------------------------------------------------------*/

.hero{
    background-image: url(../Img/sig.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    
    position: relative; /*Esto se coloca como el padre*/
    margin-bottom: 2rem;
}

.contenido-hero{
 position: absolute;
 background-color: rgba(0, 0, 0, .7); /**Anterior**/
 background-color: rgb(0 0 0 / 70%) ;
 width: 100%;
 height: 100%;

 display: flex;
 flex-direction: column;
 align-items: center; 
 padding: 2rem;
 color: var(--blanco);
 
}

.ubicacion{
    display: flex;
    align-items:flex-end ;
}


/**Servicios**/
@media (min-width: 768px) {
    .servicios{
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; /*33.3% 33.3% 33.3% es la fraccion del 100%*/
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}
.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.vamos{
    width: 30rem;
    height: 15rem;
}
.imagen1{
    background-image: url(../Img/AsesoriaRRHH.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40rem;
    border-radius: 50%;
}
.imagen2{
    background-image: url(../Img/RRHH.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40rem;
    border-radius: 50%;
    
}
.imagen3{
    background-image: url(../Img/SaludOcupac.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40rem;
    border-radius: 50%;
}
/*formulario*/


.formulario{
    background-color: var(--gris);
    width: min( 60rem, 100%); /* utilizar el valor más pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2%;
}
.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700; /*para negrita*/
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 748px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem; /* esto tamaño de largo hacia abajo todo el plomo*/
        column-gap: 1rem;
    }
    .campo:nth-child(3), /*coje la opción tres de la clase campo*/
    .campo:nth-child(4){
        grid-column: 1 / 3; /*Estira las filas hasta la divicion 3 del lado horizontal*/
    }

}


.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
  margin-bottom: 0.5rem;
    display: block;
}


.campo textarea{
    height: 20rem;
}

.input-text{
width: 100%;
border: none;
border-radius: .5rem;
padding: 1.5rem;
}

/*Footer o pie de página*/
.footer{
    text-align: center;
   
}


